.tweet-wrapper .post {
  padding: 0 10px;
  border: 1px solid #e6ecf0;
}

.tweet-wrapper .user-info {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  padding: 0;
}

.tweet-wrapper .post-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.tweet-wrapper .fa-user {
  font-size: 25px;
  border: 2px solid #8796a2;
  padding: 8px;
  border-radius: 50%;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-family: Poppins;
}

.post-text {
  font-family: Raleway;
}

.tweet-wrapper span {
  color: #8796a2;
  font-size: 14px;
}

.tweet-wrapper i {
  margin: 10px;
  color: #697a89;
  font-size: 22px;
  cursor: pointer;
}

.tweet-wrapper .fa-edit {
  color: #92d0f0;
}

.tweet-wrapper .fa-trash-alt {
  color: #92d0f0;
}

.tweet-wrapper .tweeted-date {
  font-size: 16px !important;
  font-weight: 400;
}

.fa,
.fas {
  font-weight: 900;
}

.fa,
.fab,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}