.countries-wrapper {
  background: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: center;
  margin: 1rem 0 3rem;
  padding: 1rem;
}

.graph-wrapper {
  width: 100%;
  min-height: 60vh;
  position: relative;
  margin: 0.5rem auto;
  padding: 0.5rem;
}