.country-header {
  display: block;
  text-align: center;
  padding: 1.5rem;
  background: #f0f0f0;
  text-transform: uppercase;
}

.country-header h2 {
  font-family: "Oswald";
  font-size: 4rem;
  margin: .5rem auto;
  letter-spacing: .25rem;
  font-weight: 600;
  color: orange;
}

.subtitle {
  color: #555;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: none;
}

.feedback {
  margin: .5rem;
  font-style: italic;
  font-size: 1.6rem;
  color: orange;
  font-weight: 500;
  text-transform: none;
}