 .copy:hover:before {
   content: "Copy";
   padding: 10px 15px;
   border-radius: 3px;
   font-weight: 500;
 }

 .wrapper__copy {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   min-width: 2vw;
   max-height: 2vw;
   min-height: 2vw;
   border-radius: 100%;
   /* background: rgba(74, 77, 251, .1); */
   text-align: center;
   color: #fff;
   margin: 10px;
 }

 .wrapper__copy:before {
   position: absolute;
   display: inline-block;
   min-width: 60px;
   height: 25px;
   top: -20px;
   left: 60px;
   right: 0;
   color: #fff;
   display: block;
   background: rgba(70, 67, 67, .55);
   font-weight: 500;
   line-height: 25px;
   border-radius: 2px;
   font-size: 1rem;

 }