.country {
  max-width: 25rem;
  min-width: 25rem;
  text-align: center;
  margin: .5rem;
  padding: 2rem;
  border-radius: .2rem;
  background: #fff;
}

.country:hover {
  box-shadow: 0 0.1rem 1rem #cfc9c7;
  -webkit-transition: all .2s ease-in;
  transform: scale(1.015);
}

.country_flag {
  height: 12rem;
  width: 20rem;
  text-align: center;
  margin: auto;
}

.country_flag img {
  display: block;
  margin: auto;
  max-width: 75%;
  max-height: 75%;
  min-width: 75%;
  min-height: 75%;
  border-radius: .3rem;
  box-shadow: 0 0 0.6rem 0.2rem #f1e1e1;
}

.country_name {
  font-size: 1.6rem;
  color: orange;
  letter-spacing: .075rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.country p {
  font-size: 1.6rem;
  font-weight: 500;
  padding: .2rem;
  color: #747474;
  text-align: left;
  letter-spacing: .05rem;
}